@import url("https://fonts.googleapis.com/css?family=Red+Hat+Mono");
@import url("https://fonts.googleapis.com/css?family=Kalam");
/* @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=PT+Mono"); */
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono");

/* https://www.flaticon.com/premium-icon/now_6072901?related_id=6072901 */
body {
    font-family: "JetBrains Mono";
}

p {
    text-align: left !important;
}

h3 {
    font-family: "Kalam" !important;
}

button {
    font-weight: bold !important;
}


.fa-paste-corner-dark {
    color: #212529;
    border: none !important;
    margin-top: 4px !important;
    float: left !important;
    font-size: 22px;
    background-color: #ffffff00 !important;
}

/* Copy Icon CSS */
.fa-clone-corner-light {
    color: white;
    background-color: #ffffff00 !important;
    border: none !important;
    margin-top: 4px !important;
    float: right !important;
}

.fa-clone-corner-light:hover {
    color: gold;
}

.fa-clone-corner-dark {
    color: #212529;
    background-color: #ffffff00 !important;
    border: none !important;
    margin-top: 4px !important;
    float: right !important;
}

.fa-clone-corner-dark:hover {
    color: #bf0000;
}

/* themes list css */
#themesSearchInput {
    border: 1px solid black !important;
}

#themesSearchInput:focus {
    box-shadow: 0 0 10px gold;
}

.themes-list-element {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid black !important;
}

.themes-list-element:hover {
    background-color: gold;
}


/* Scrollbar CSS */

/* width */
::-webkit-scrollbar {
    width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 184, 184);
}